In [1]:
import pandas as pd
import numpy as np
import collections
import ast

In [2]:
chem_df = pd.read_excel("02chem.list.xlsx",engine='openpyxl', header=None)
crop_df = pd.read_excel("02crop.list.xlsx",engine='openpyxl', header=None)
pest_df = pd.read_excel("02pest.list.xlsx",engine='openpyxl', header=None)

In [25]:
# 764 rows of keywords
keyword_df = pd.concat([chem_df, crop_df, pest_df])
keyword_df = keyword_df.reset_index()
del keyword_df['index']
keyword_df

          0          1          2        3       4       5         6
0      貝芬硫醌   貝芬硫可濕性粉劑       貝芬硫琨      NaN     NaN     NaN       NaN
1       腈硫醌       硫水懸劑    硫水分散性粒劑   硫可濕性粉劑  腈硫醌水懸劑  睛硫琨水懸劑  腈硫醌可濕性粉劑
2      鋅錳乃浦    鋅錳乃浦水懸劑  鋅錳乃浦可濕性粉劑  鋅錳乃普水懸劑     NaN     NaN       NaN
3      性費洛蒙        費洛蒙        性費洛   費洛蒙緩釋劑     NaN     NaN       NaN
4       蘇力菌  蘇力菌水分散性粒劑   蘇力菌可濕性粉劑  生物製劑蘇力菌   蘇力菌製劑     NaN       NaN
..      ...        ...        ...      ...     ...     ...       ...
759    姬黃薊馬        NaN        NaN      NaN     NaN     NaN       NaN
760     猝倒病        NaN        NaN      NaN     NaN     NaN       NaN
761  路易氏始葉螨        NaN        NaN      NaN     NaN     NaN       NaN
762      大螟        NaN        NaN      NaN     NaN     NaN       NaN
763     褐根病        NaN        NaN      NaN     NaN     NaN       NaN

[764 rows x 7 columns]

In [28]:
# read in article
article_df = pd.read_csv("stage3_only_keyword.csv")
## only takes the keywords data in
article_sr = article_df['Dimension']

In [29]:
test_sr = article_sr#[0:5]
test_df = keyword_df#[0:100]
# you can set the range to test a bit
# test_sr = article_sr
# test_df = keyword_df

In [30]:
test_sr[0]

"['三賽唑', '三賽唑可濕性粉劑', '三賽唑可濕性粉', '賽唑可濕性粉劑', '亞賜圃', '亞賜圃可濕性粉劑', '嘉賜黴素', '嘉賜黴素可濕性粉劑', '甲基多保淨', '甲基多保淨水懸劑', '嘉賜三賽唑', '嘉賜三賽唑可濕性粉劑', '賜三賽唑可濕性粉劑', '護粒三賽唑', '護粒三賽唑可濕性粉劑', '保米熱斯', '保米熱斯可濕性粉劑', '丙基喜樂松', '丙基喜樂松粒劑', '富米熱斯', '富米熱斯可濕性粉劑', '克熱賜圃', '克熱賜圃可濕性粉劑', '芬諾尼', '芬諾尼水懸劑', '水稻', '桃', '稻熱病', '葉稻熱病']"

In [31]:
test_df

          0          1          2        3       4       5         6
0      貝芬硫醌   貝芬硫可濕性粉劑       貝芬硫琨      NaN     NaN     NaN       NaN
1       腈硫醌       硫水懸劑    硫水分散性粒劑   硫可濕性粉劑  腈硫醌水懸劑  睛硫琨水懸劑  腈硫醌可濕性粉劑
2      鋅錳乃浦    鋅錳乃浦水懸劑  鋅錳乃浦可濕性粉劑  鋅錳乃普水懸劑     NaN     NaN       NaN
3      性費洛蒙        費洛蒙        性費洛   費洛蒙緩釋劑     NaN     NaN       NaN
4       蘇力菌  蘇力菌水分散性粒劑   蘇力菌可濕性粉劑  生物製劑蘇力菌   蘇力菌製劑     NaN       NaN
..      ...        ...        ...      ...     ...     ...       ...
759    姬黃薊馬        NaN        NaN      NaN     NaN     NaN       NaN
760     猝倒病        NaN        NaN      NaN     NaN     NaN       NaN
761  路易氏始葉螨        NaN        NaN      NaN     NaN     NaN       NaN
762      大螟        NaN        NaN      NaN     NaN     NaN       NaN
763     褐根病        NaN        NaN      NaN     NaN     NaN       NaN

[764 rows x 7 columns]

In [32]:
# this is for counting appearance
whole_list = []
for index, article_keywords in test_sr.items():
    simple_list = []
    article_keywords = ast.literal_eval(article_keywords)
    for idx, row in test_df.iterrows():
        compared_elements = list(row)
        if any(x in compared_elements for x in article_keywords):
            simple_list.append(1)
            #print("--------")
            
            
        else:
            simple_list.append(0)
    #print("=========")
    #print(simple_list)
    whole_list.append(simple_list)

In [15]:
# this is for counting tf
whole_list = []
for index, article_keywords in test_sr.items():
    simple_list = []
    article_keywords = ast.literal_eval(article_keywords)
    for idx, row in test_df.iterrows():
        compared_elements = list(row)
        count = 0
        if any(x in compared_elements for x in article_keywords):
            for x in article_keywords:
                if x in compared_elements:
                    #print(x)
                    count = count + 1
            #print(count)
            simple_list.append(count)
            #print("--------")
            
            
        else:
            simple_list.append(0)
    #print("=========")
    #print(simple_list)
    whole_list.append(simple_list)

In [33]:
# turn the array into numpy array
result_arr = np.array(whole_list)
result_arr

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [34]:
# solve the result numpy array
with open('result_stage3_appearance.npy', 'wb') as f:
    np.save(f, result_arr)

In [35]:
# produce a matrix
article_index = [str(i) for i in list(article_df.Num)]
test_matrix = pd.DataFrame(data=result_arr, index=article_index, columns=test_df[0])

In [36]:
test_matrix

,貝芬硫醌,腈硫醌,鋅錳乃浦,性費洛蒙,蘇力菌,比多農,夏油,亞磷酸,乳化葵花油,窄域油,...,綠椿象,小綠葉蟬,潛蠅類,赤葉螨,柑桔葉螨,姬黃薊馬,猝倒病,路易氏始葉螨,大螟,褐根病
100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1013,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
# solve the result numpy array
with open('result.npy', 'wb') as f:
    np.save(f, result_arr)

In [37]:
np.load('result_stage3_appearance.npy')

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [38]:
# 3 -> 415 yes
# 415 -> 3  no
article_df.loc[article_df.Num == 17]

,Num,Content,Dimension
146,17,夜蛾密度攀升，請宜蘭農友注意防範。花蓮區農改場、防檢局及田邊好幫手關心您。 年初至今，常有達...,"['性費洛蒙', '費洛蒙', '蘇力菌', '微生物製劑', '蔬菜', '斜紋夜蛾', ..."

In [40]:
article_df.loc[article_df.Num == 100]

,Num,Content,Dimension
0,100,發布本(107)年第1期作水稻葉稻熱病發生預報。桃園區農改場、防檢局及田邊好幫手關心您。 依...,"['三賽唑', '三賽唑可濕性粉劑', '三賽唑可濕性粉', '賽唑可濕性粉劑', '亞賜圃..."

In [41]:
# bitwise operator: https://numpy.org/doc/stable/reference/routines.bitwise.html
# maybe we can use bitwise operator to count 
agg_array = np.bitwise_and(result_arr[0], result_arr[146])
agg_array

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [41]:
label_df = pd.read_csv("TrainLabel.csv", header = 0, names=["Test", "Reference"])

In [42]:
label_df

      Test  Reference
0        3        415
1        3        649
2        9          5
3       25         32
4       25         41
...    ...        ...
1378  1382        921
1379  1382        940
1380  1382        949
1381  1391       1392
1382  1392       1391

[1383 rows x 2 columns]

In [45]:
import collections, numpy
similarity_list=[]
b = 0

# similarity = the num of repeated keywords in two file (test & reference)/ the num of keywords in the test file
for a in range (len(label_df.index)):
    i = int(label_df.iloc[a]['Test'])
    j = int(label_df.iloc[a]['Reference'])
    iv = int(article_df.loc[article_df.Num == i].index[0])
    jv = int(article_df.loc[article_df.Num == j].index[0])
    agg_array = np.bitwise_and(result_arr[iv], result_arr[jv])
    agg_array_num = collections.Counter(agg_array)[1]
    sing__array_num = collections.Counter(result_arr[iv])[1]
    if sing__array_num == 0:
        similarity = 0
    else:
        similarity = agg_array_num/sing__array_num
    similarity_list.append(similarity)

In [46]:
similarity_df = pd.DataFrame(similarity_list, columns =['Similarity'])
similarity_df

      Similarity
0       0.777778
1       0.555556
2       1.000000
3       1.000000
4       1.000000
...          ...
1378    1.000000
1379    1.000000
1380    1.000000
1381    1.000000
1382    0.818182

[1383 rows x 1 columns]

In [47]:
results_df = pd.concat([label_df,similarity_df], axis=1, sort=False)

In [48]:
results_df

      Test  Reference  Similarity
0        3        415    0.777778
1        3        649    0.555556
2        9          5    1.000000
3       25         32    1.000000
4       25         41    1.000000
...    ...        ...         ...
1378  1382        921    1.000000
1379  1382        940    1.000000
1380  1382        949    1.000000
1381  1391       1392    1.000000
1382  1392       1391    0.818182

[1383 rows x 3 columns]

In [50]:
results_df.to_csv("TrainLabel_AU.csv", index= False)

In [14]:
result_arr

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [42]:
# produce a matrix, print the test file num
article_index = [str(i) for i in list(article_df.Num)]
article_index

['100',
 '1002',
 '1003',
 '101',
 '1013',
 '1017',
 '1018',
 '1020',
 '1021',
 '1026',
 '1030',
 '1031',
 '1035',
 '1042',
 '1043',
 '1044',
 '1045',
 '1046',
 '1047',
 '1055',
 '1057',
 '1058',
 '1059',
 '106',
 '1065',
 '1069',
 '1071',
 '1077',
 '1078',
 '1079',
 '1083',
 '1090',
 '1096',
 '1099',
 '11',
 '1100',
 '1101',
 '1102',
 '1104',
 '1107',
 '1108',
 '1109',
 '1110',
 '1112',
 '1115',
 '1117',
 '1122',
 '1134',
 '1136',
 '1138',
 '1139',
 '1144',
 '1145',
 '1149',
 '115',
 '1150',
 '1152',
 '1154',
 '1160',
 '1168',
 '1169',
 '1171',
 '1174',
 '1179',
 '118',
 '1181',
 '1183',
 '1184',
 '1189',
 '1192',
 '120',
 '1200',
 '1208',
 '1210',
 '1211',
 '1212',
 '1214',
 '1215',
 '1220',
 '1221',
 '1222',
 '1223',
 '1224',
 '1235',
 '1240',
 '1241',
 '1242',
 '1246',
 '1248',
 '1257',
 '1258',
 '1259',
 '1260',
 '1262',
 '1264',
 '1266',
 '127',
 '1270',
 '1272',
 '1275',
 '1279',
 '1281',
 '1283',
 '1286',
 '1291',
 '1293',
 '1294',
 '1297',
 '1308',
 '1309',
 '1312',
 '1314',
 '1321',
 '1322',
 '1335',
 '1343',
 '1348',
 '135',
 '1355',
 '1356',
 '1358',
 '1359',
 '136',
 '1362',
 '1363',
 '1367',
 '1370',
 '1372',
 '1374',
 '1377',
 '1379',
 '1386',
 '139',
 '1394',
 '1395',
 '1396',
 '1397',
 '146',
 '149',
 '15',
 '156',
 '158',
 '16',
 '166',
 '167',
 '169',
 '17',
 '173',
 '174',
 '18',
 '180',
 '182',
 '196',
 '2',
 '203',
 '204',
 '205',
 '207',
 '208',
 '210',
 '211',
 '212',
 '217',
 '218',
 '22',
 '221',
 '224',
 '226',
 '227',
 '23',
 '231',
 '232',
 '238',
 '240',
 '241',
 '246',
 '251',
 '252',
 '253',
 '255',
 '256',
 '258',
 '259',
 '260',
 '266',
 '271',
 '274',
 '275',
 '278',
 '280',
 '284',
 '291',
 '302',
 '308',
 '314',
 '316',
 '317',
 '318',
 '320',
 '322',
 '323',
 '327',
 '328',
 '33',
 '332',
 '336',
 '338',
 '340',
 '341',
 '346',
 '347',
 '348',
 '349',
 '353',
 '354',
 '355',
 '356',
 '357',
 '36',
 '360',
 '364',
 '368',
 '372',
 '374',
 '377',
 '378',
 '379',
 '384',
 '386',
 '395',
 '396',
 '4',
 '400',
 '402',
 '405',
 '406',
 '418',
 '419',
 '422',
 '425',
 '428',
 '429',
 '43',
 '432',
 '444',
 '448',
 '455',
 '466',
 '467',
 '468',
 '47',
 '479',
 '48',
 '481',
 '483',
 '486',
 '487',
 '492',
 '495',
 '496',
 '500',
 '502',
 '507',
 '509',
 '512',
 '513',
 '515',
 '517',
 '519',
 '520',
 '523',
 '53',
 '531',
 '536',
 '537',
 '539',
 '540',
 '541',
 '543',
 '548',
 '550',
 '551',
 '554',
 '555',
 '557',
 '558',
 '559',
 '560',
 '565',
 '567',
 '569',
 '572',
 '575',
 '577',
 '578',
 '58',
 '584',
 '596',
 '599',
 '601',
 '604',
 '605',
 '606',
 '607',
 '608',
 '61',
 '613',
 '614',
 '62',
 '621',
 '623',
 '626',
 '629',
 '63',
 '632',
 '637',
 '638',
 '639',
 '641',
 '650',
 '657',
 '658',
 '674',
 '677',
 '683',
 '686',
 '687',
 '696',
 '703',
 '708',
 '710',
 '715',
 '719',
 '720',
 '721',
 '729',
 '735',
 '736',
 '737',
 '743',
 '751',
 '756',
 '757',
 '76',
 '763',
 '768',
 '769',
 '773',
 '786',
 '787',
 '792',
 '793',
 '794',
 '799',
 '8',
 '802',
 '804',
 '808',
 '811',
 '812',
 '825',
 '826',
 '827',
 '832',
 '837',
 '839',
 '840',
 '842',
 '843',
 '848',
 '849',
 '855',
 '860',
 '863',
 '871',
 '877',
 '882',
 '883',
 '884',
 '888',
 '890',
 '895',
 '900',
 '902',
 '907',
 '91',
 '912',
 '914',
 '920',
 '922',
 '931',
 '932',
 '934',
 '94',
 '942',
 '944',
 '945',
 '947',
 '948',
 '952',
 '953',
 '954',
 '955',
 '957',
 '958',
 '959',
 '962',
 '964',
 '966',
 '971',
 '974',
 '976',
 '978',
 '98',
 '981',
 '982',
 '983',
 '989',
 '99',
 '995']

In [44]:
len(article_index)

420

In [45]:
len(result_arr)

420

In [ ]:
# create a df to store all the results
result_df = pd.DataFrame({'Test':[], 'Reference': [], 'Similarity': []})
count = 0
similarity_list=[]

for article_vec in result_arr:
    # next_idx set the new index num
    for next_idx in range(len(result_arr)):
        next_vec = result_arr[next_idx]
        article_vec
        
        # present the keywords in the two file, 1 represent thay have the same keyword 
        agg_array = np.bitwise_and(article_vec, next_vec)
        # the num of repeated keywords in two file (test & reference)
        both_array_num = collections.Counter(agg_array)[1]
        #the num of keywords in the test file
        sing_array_num = collections.Counter(article_vec)[1]
        
        # if the num of keywords in the test file = 0, then similarity = 0
        if sing_array_num == 0:
            similarity = 0
        else:
            similarity = both_array_num/sing_array_num
            
        dict = {'Test': article_index[count], 'Reference': article_index[next_idx], 'Similarity': similarity}
        result_df = result_df.append(dict, ignore_index=True)
    count+=1

In [22]:
result_df.to_csv("TestStage3_AU.csv", index=False)