In [2]:
# load package
import pandas as pd
import numpy as np

# Read feature data

In [36]:
# read feature data
X1 = np.load('../input/model feed/features3/X1_new_appearance.npy')
X2 = np.load('../input/model feed/features3/X2_new_appearance.npy')

In [37]:
# read feature data
X1_times = np.load('../input/model feed/features3/X1_new_times.npy')
X2_times = np.load('../input/model feed/features3/X2_new_times.npy')

# Stage 1

In [38]:
X1.shape

(311922, 1537)

In [39]:
similarity_stage1_feature = X1[:,0:9]
similarity_stage1_feature.shape

(311922, 9)

In [40]:
appearance_stage1_feature = X1[:,9:]
appearance_stage1_feature.shape

(311922, 1528)

In [41]:
times_stage1_feature = X1_times[:,9:]
times_stage1_feature.shape

(311922, 1528)

In [42]:
np.save('similarity_stage1_feature.npy', similarity_stage1_feature)
np.save('appearance_stage1_feature.npy', appearance_stage1_feature)
np.save('times_stage1_feature.npy', times_stage1_feature)

# Stage 2

In [43]:
X2.shape

(176820, 1537)

In [44]:
similarity_stage2_feature = X2[:,0:9]
similarity_stage2_feature.shape

(176820, 9)

In [45]:
appearance_stage2_feature = X2[:,9:]
appearance_stage2_feature.shape

(176820, 1528)

In [46]:
times_stage2_feature = X2_times[:,9:]
times_stage2_feature.shape

(176820, 1528)

In [47]:
np.save('similarity_stage2_feature.npy', similarity_stage2_feature)
np.save('appearance_stage2_feature.npy', appearance_stage2_feature)
np.save('times_stage2_feature.npy', times_stage2_feature)

---
# temp use

In [5]:
result_template = pd.read_csv('../input/TestStage3_AU.csv', header = 0)

result_template = result_template.loc[result_template["Test"] != result_template["Reference"]]
result_template = result_template.reset_index()
del result_template['index']

result_template

        Test  Reference  Similarity
0        100       1002    0.133333
1        100       1003    0.066667
2        100        101    0.133333
3        100       1013    0.000000
4        100       1017    0.000000
...      ...        ...         ...
175975   995        981    0.142857
175976   995        982    0.285714
175977   995        983    0.142857
175978   995        989    0.000000
175979   995         99    0.285714

[175980 rows x 3 columns]

In [7]:
# np.save('similarity_stage2_feature.npy', similarity_stage2_feature)
result_template.to_csv("../output/result_stage3_template.csv", index=False)

In [48]:
# End of file